# Nonvi Project Root GitIgnore

# Ignoring dependency folders in subdirectories
**/node_modules/
**/vendor/

# Ignoring environment files
**/.env
**/.env.*

# Ignoring IDE and OS files
.DS_Store
.idea/
.vscode/

# Ignoring Expo files
**/.expo/

# Ignoring Laravel storage and bootstrap cache
**/storage/framework/
**/storage/logs/
**/bootstrap/cache/
